<div class="split-view">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-align-tabs="start">
      <mat-tab label="C Code">
        <ngx-codemirror #codeMirror [(ngModel)]="selectedFile.data" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'clike',
          viewportMargin: '20',
          lineWrapping: true

        }"></ngx-codemirror>
      </mat-tab>

      <mat-tab label="LLVM">
        <ngx-codemirror [(ngModel)]="selectedLlvm" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'clike',
          viewportMargin: '20'
        }"></ngx-codemirror>
      </mat-tab>
      <mat-tab label="Code GPT">
        <div id="fileListDisplay">
              <p>Hi! Welcome to CodeGPT. Type in your query, attach any files you would like to, and click send!</p>
              <div style="display: flex;">
                <mat-form-field  >
                  <mat-select placeholder="Select Files" [(ngModel)]="selectedFiles" multiple (ngModelChange)="onFileSelectionChange()">
                    <mat-option *ngFor="let file of files" [value]="file">
                      <mat-checkbox [(ngModel)]="file.selected"></mat-checkbox>
                      {{ file.name }}
                    </mat-option>
                  </mat-select> 
                </mat-form-field>
                <button type="button" class="btn btn-primary" (click)="sendQuery()">
                  <i class="fa fa-play run-icon"></i>
                  Send Query
                </button>
              </div>
        </div>
        <ngx-codemirror #gptgenerate [(ngModel)]="editorContent" [options]="{
          theme: 'material',
          viewportMargin: '20',
          lineWrapping: true,
          extraKeys: {
            Enter: false
          }
        }" 
        (keydown)="onKeyDown($event)"
        (ngModelChange)="onEditorContentChange($event)"
        >
      </ngx-codemirror>
      </mat-tab>
    </mat-tab-group>
</div>
